/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #dedede !important;
    margin: 20px !important;
    padding: 0 !important;
  }
  
  /* Estilo para o contêiner do formulário */
  .form-container {
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .form-container-produtos {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para os campos de entrada */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Estilo para os campos de entrada */
  .form-control {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  /* Estilo para os rótulos dos campos de entrada */
  label {
    font-weight: bold;
    display: block;
  }
  
  /* Estilo para o botão de envio */
  .btn-submit {
    background-color: #017bfd !important;
    color: #fff !important;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Estilo para mensagens de erro */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Estilo para os campos de entrada */
  .form-group {
    margin-bottom: 20px;
  }
  
  